:root{
    --white-color:#ffffff;
    --white-middle-smoke-color:#dddddd;
    --move-color:#920cff;
    --rose-color:#fc08bf;
    --dark-rose--:#bf0390;
    --black-rose--:#8b0169;
    --black-color:#010005;
    --dark-blue-color-- :#070611;
    --dark-color--:#0a0d13;
}


body{
    background: red;
}


.thumbenail-contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    margin: auto;
}
.contact-description{
    
}
.contact-description .desc span{
    color: var(--dark-rose--);
}
.contact-description .desc span{
    color: var(--dark-rose--);
}

.contact-form .input-id{
    display: flex;
    column-gap: 1.5em;
    margin: 2em ;
}
.contact-form .input-id input{
    padding: 10px 0;
    
}